* {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

body {
    display: grid;
    grid-gap: 16px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
}

header {
    padding: 24px;
}

.main {
    border: 1px solid gray;
    border-radius: 15px;
}

.search-bar {
    
}